<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>导航</title>
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css"/>
		<style>
			#daohang{
				background: #002b39;
				height: 105px;
			}
			#text_main{
				color: white;
				font-size: larger;
				letter-spacing:10px;
				text-emphasis: white;
			}
			#text_biao{
				color: white;
				letter-spacing:5px;
				size:a3;
				margin: 25px;
			}
			li.m-hover:hover,li.m-hover:active{
				background-color: black;
			}
			li.m-hover-2:hover,li.m-hover-2:active{
				font-size: 150%;
				color: white;
			}
		</style>
	</head>
	<body>
<!--导航开始-->
		<div class="container-fluid" >
		    <div class="row">
				<nav class="navbar navbar-default" role="navigation">
				    <div class="container-fluid"id="daohang" > 
				    <div class="navbar-header">
				        <h1><a class="navbar-brand" href="index.html" id="text_main">PotterStore|</a></h1>
				    </div>
				    <div class="collapse navbar-collapse" id="example-navbar-collapse">
				        <ul class="nav navbar-nav navbar-right">				        	
				        	<li class="m-hover"><a href="#" id="text_biao" ></span >College Of Hogwarts</a></li>
				        	<li class="m-hover"><a href="#" id="text_biao" ></span >Roll Of Harry Potter</a></li>	
				        	<li class="m-hover"><a href="#" id="text_biao" ></span >blabla</a></li>	
				        	<li class="m-hover"><a href="#" id="text_biao" ></span >About J. K. Rowling</a></li>	
				        	<li class="m-hover"><a href="#" id="text_biao" ></span >SHOP</a></li>	
				       
							<li class="m-hover-2"><a href="#" data-toggle="modal" data-target="#myModal" style="margin: 20px;" id="text_biao"><span >搜索</span>
				                    	<img src="../img/search.png" />
				                   </a></li>
				        	<li class="m-hover-2"><a href="#" data-toggle="modal" data-target="#myModal" style="margin: 20px;" id="text_biao">登录
				                    	<img src="../img/denglu.png" />
				                   </a></li>
				        </ul>
				    </div>
				</div>
			</nav>
		</div>
	</div>
<!--导航结束-->

<!--引入jquery-->
	<script type="text/javascript" src="../plugins/jquery/jquery.min.js"></script>
	<!--引入bootstrap.js-->
	<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.js"></script>
	</body>
</html>
