
<!DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/sousuo.css"/>
		<link rel="stylesheet" type="text/css" href="../css/bacss.css"/>
		<style type="text/css">
			.myBanner img {
				width: 100%;
			}
			
			.books_c1 {
				display: none;
			}
			
			.books_c2 {
				display: block;
			}
			
			div.polaroid {
			  width: 30%;
			  height: 500px;
			  background-color: white;
			  text-align:center; 
			  padding-top:50px;
			  background-color:white; 
			  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			  margin-top: 30px;
			  margin-bottom: 25px;
			  margin-left: 50px;
			}

			div.polaroid1 {
			  width: 30%;
			  height: 600px;
			  background-color: white;
			  text-align:center; 
			  padding-top:50px;
			  /*background-color:ghostwhite; */
			 background-color: white;
			  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			  margin-top: 30px;
			  margin-bottom: 25px;
			  margin-left: 50px;
			}

			div.geshi {
			  text-align: center;
			  padding: 10px 20px;
			}
			/*下面都是导航的css*/
			#daohang{ 
				width:100%;
				background: #002b39;
			}
			body {
			    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			    font-size: 14px;
			    line-height: 1.42857143;
			    color: #333;
			    background-color: #aa1c2200;
			}
			#text_main{
				color: white;
				font-size: larg;
				letter-spacing:10px;
				font-family:"arial black";
			}
			#text_biao{
				color: white;
				font-size: smaller;
				letter-spacing:2px;
            }
            li{
				width: 150px;
               padding-top: 20px;
				float: right;
			    height:130px;
			}
			li.m-hover:hover,li.m-hover:active{
				background-color: black;
				color: white;
			}
			li.m-hover-2:hover,li.m-hover-2:active{
				font-size: 150%;
				color: white;
			}
		</style>
	</head>

	<body>
	<!--导航开始-->
		<div class="container-fluid">
			<div class="row">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid" id="daohang">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				            <span class="sr-only">切换导航</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				        </button>
							<h1><a class="navbar-brand" href="../mian.html" id="text_main">PotterStore|</a></h1>
						</div>
						<div class="collapse navbar-collapse" id="example-navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class="m-hover">
									<a href="College.html" id="text_biao">
										</span>College Of Hogwarts</a>
								</li>
								<li class="m-hover">
									<a href="branch02.html" id="text_biao">
										</span>Roll Of Harry Potter</a>
								</li>
								<li class="m-hover">
									<a href="zxy.html" id="text_biao">
										</span>Achievement Of Harry Potter</a>
								</li>
								<li class="m-hover">
									<a href="author.html" id="text_biao">
										</span>About J. K. Rowling</a>
								</li>
								<li class="m-hover">
									<a href="copypro_file.html" id="text_biao">
										</span>SHOP About Harry Potter</a>
								</li>

								<li class="m-hover-2">
									<a href="#" data-toggle="modal" data-target="#myModal" style="margin: 20px;" id="text_biao"><span>搜索</span>
										<img src="../img/search.png" />
									</a>
								</li>
								<li class="../m-hover-2">
									<a href="#" data-toggle="modal" data-target="#myModal" style="margin: 20px;" id="text_biao">登录
										<img src="../img/denglu.png" />
									</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!--导航结束-->
		
		<!--banner-begin-->
		<div class="container-fluid myBanner" style="pad">
			<div class="row">
				<div id="myCarousel" class="carousel slide">
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
					</ol>
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner" style="max-width: 100%; height: auto;">
						<div class="item active">
							<img src="../img/poster2.jpg" alt="First slide">                                                       
						</div>
						<div class="item">
							<img src="../img/poster4.jpg" alt="Second slide">
						</div>
						<!--<div class="item">
							<img src="../img/advert3.jpg" alt="Third slide">
						</div>-->
					</div>
					<!-- 轮播（Carousel）导航 -->
					<!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">
						<span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
					</a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					-->
					<a class="carousel-control left" href="#myCarousel" data-slide="prev"> 
						<span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next">
						<span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>

			</div>
		</div>
		<!--banner - end-->

		<!--  想做一个搜索    -->
		<!--<div class="container" style="margin: auto;">
		    <form action="" class="parent">
		        <input type="text" class="search" placeholder="搜索">
		        <input type="button" name="" id="" class="btn">
		    </form>
		</div>-->
	

	    <section>
	        <div id="products">
	            <div>Try Our Awesome Books</div>
	            <div id="prointroduction">
	                <div>
	                    <img src="../img/w1.jpg" />
	                    <div style="align-content: center; margin-top: 50px; width: 310px;">Harry Potter is a series of seven fantasy novels written by the British author J. K. Rowling. 
						The books chronicle the adventures of the adolescent wizard Harry Potter and his best friends Ron Weasley and Hermione Granger, all of whom are students at Hogwarts School 
						of Witchcraft and Wizardry.  </div>
	                </div>
	                <div>
	                    <img src="../img/w2.jpg" />
	                    <div style="align-content: center; margin-top: 50px; width: 310px;">The main story arc concerns Harry's quest to overcome the evil dark wizard Lord 
						Voldemort, whose aim is to subjugate non-magical people, conquer the wizarding world, 
						and destroy all those who stand in his way, especially Harry Potter. </div>
	                
	                </div>
	                <div>
	                    <img src="../img/w3.jpg" />
	                    <div style="align-content: center; margin-top: 50px; width: 310px;">A series of many genres, including fantasy and coming of age (with elements of mystery, 
						thriller, and romance), it has many cultural meanings and references.According to Rowling。The main theme is death,although it is primarily considered to be a work of children's 
						literature.  </div>
	                </div>
	            </div>
	        </div>
	    </section>
	 
	    <section>
	        <div id="learn">
	            <div>
	                <img src="../img/e1.jpg" />
	                <div>
	                    <p>Learn How To Improve Your Personal Business</p>
	                    <p>A strong brand is essential if you want to succeed in business, but it's also important to have a polished
	                        personal brand. Your personal brand should be a genuine, honest culmination of who you are. </p>
	                </div>
	            </div>
	            <div style="clear: both;"></div>
	            <div>
	                <div>
	                    <p>Choose One Notebook For Your Harry Potter Dream</p>
	                    <p>You're likely on several different social media platforms for both personal and professional uses. But
	                        because you use different platforms for different things, it's important for you to be aware of your
	                        privacy settings.</p>
	                </div>
	                <img src="../img/e2.jpg" />
	            </div>
	        </div>
	    </section>
	 
	    <section>
	        <div id="crew">
	            <div>Our Awesome Perimeter</div>
	            <div>Our unique online teaching style makes learning easy for everyone.Whether you are trying to land a new job, brush
	                up on your skills.</div>
	            <div id="crewphoto">
	                <img src="../img/a1.jpg" />
	                <img src="../img/a3.jpg" />
	                <img src="../img/a2.jpg" />
	                <img src="../img/a4.jpg" />
	            </div>
	        </div>
	    </section>
 

		<section>
	        <div id="products">
	            <div>登陆后查看更多周边商品</div>
	        </div>
	    </section>


		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button id="btn_close" type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							用户登录入口
						</h4>
					</div>
					<div class="modal-body">
						<!--form表单位置-->
						<form action="" class="form-horizontal" role="form">
							<div class="form-group has-feedback">
								<label for="firstname" class="col-sm-2 control-label">名字</label>
								<div class="col-md-6">
									<span class="glyphicon glyphicon-user form-control-feedback"></span>
									<input type="text" class="form-control" id="username" placeholder="请输入名字">
								</div>
							</div>
							<div class="form-group has-feedback">
								<label for="lastname" class="col-sm-2 control-label">密码</label>
								<div class="col-md-6">
									<span class="glyphicon glyphicon-lock form-control-feedback"></span>
									<input type="password" class="form-control" id="password" placeholder="请输入密码">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<div class="checkbox">
										<label>
          									<input type="checkbox">请记住我
       								</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<!--普通按钮-->
									<button type="button" onclick="login()" class="btn btn-default">登录</button>
								</div>
							</div>
						</form>

					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>

		<hr>
		<div id="books" class="books_c1" style="background-color: cadetblue;">
			<div class="container-fluid">
				<div class="row">
					<div class="row">
						<div class="col-sm-6 col-md-3 polaroid">
						<img class="lazy" data-original="../img/r5.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway2</p>
						 </div>

						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>
						
						<div class="col-sm-6 col-md-3 polaroid">
						<img class="lazy" data-original="../img/r3.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway2</p>
						 </div>

						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>
						
						
						<div class="col-sm-6 col-md-3 polaroid">
						<img class="lazy" data-original="../img/r10.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway2</p>
						 </div>

						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>
				
				
						
						<div class="col-sm-6 col-md-3 polaroid1">
						<img class="lazy" data-original="../img/r11.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway2</p>
						 </div>

						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>
						
						
						
						<div class="col-sm-6 col-md-3 polaroid1">
						<img class="lazy" data-original="../img/r7.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway2</p>
						 </div>

						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>
						
						
						<div class="col-sm-6 col-md-3 polaroid1">
						<img class="lazy" data-original="../img/r4.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway2</p>
						 </div>

						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>
						
						
						<div class="col-sm-6 col-md-3 polaroid">
						 <!--<img src="../img/book01.jpg" alt="Norway" style="width:30%">-->
						 <img class="lazy" data-original="../img/pp1.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway1</p>
						 </div>

						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>

						
						<div class="col-sm-6 col-md-3 polaroid">
						<img class="lazy" data-original="../img/pp2.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway2</p>
						 </div>

						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>
						
						
						
						<div class="col-sm-6 col-md-3 polaroid">
						<img class="lazy" data-original="../img/pp3.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway2</p>
						 </div>

						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>
						

						<div class="col-sm-6 col-md-3 polaroid">
						<img class="lazy" data-original="../img/r14.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway2</p>
						 </div>

						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>
						
						
						<div class="col-sm-6 col-md-3 polaroid">
						<img class="lazy" data-original="../img/perimeter12.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway2</p>
						 </div>


						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>

					
						<div class="col-sm-6 col-md-3 polaroid">
						<img class="lazy" data-original="../img/perimeter14.jpg" alt="通用的占位符缩略图">
						 <div class="geshi">
						   <p>The Troll's tongue in Hardanger, Norway2</p>
						 </div>

						<p class="pull-right">
							<a href="#" class="text-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
						</p>
						<p>
							<a href="#" class="text-warning">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		
		<footer>
        <div>
            <div>
                <p>LEARN MORE</p>
                <p>How it works?</p>
                <p>Meeting tools</p>
                <p>Live streaming</p>
                <p>Contact Method</p>
            </div>
            <div>
                <p>ABOUT US</p>
                <P>About us</P>
                <p>Features</p>
                <p>Privacy police</p>
                <p>Terms&Conditions</p>
            </div>
            <div>
                <p>SUPPORT</p>
                <p>FAQ</p>
                <p>Contact us</p>
                <p>Live chat</p>
                <p>Phone call</p>
            </div>
            <div>
                <p>ENJOY YOUR LIFE</p>
                <p>Create web UI kit for designers,
                    <br/>freelancers or business.</p>
                <p></p>
                
            </div>
        </div>
    	</footer>


		<!--引入jquery-->
		<script type="text/javascript" src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.js-->
		<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.js"></script>
		<!--引入延迟加载js-->
		<script type="text/javascript" src="../plugins/lazyload/jquery-lazyload.min.js" ></script>
		<script>
			$(function() {
				$('#myCarousel').carousel({
					interval: 3000
				})
			});
			
		  $(function() {
		      $("img.lazy").lazyload({effect: "fadeIn"});
		  });

			//定义一个登陆的函数
			function login() {
				//通过表单控件的id属性的值[id是唯一的]
				//返回的是一个单个对象.
				//如果通过js代码来获取
				//js对象
				var uname_input = document.getElementById("username");
				//通过对象获取属性[对象.属性]
				//alert(uname_input.value);
				var username = uname_input.value;

				var pwd_input = $("#password");
				//jquery对象 - 拥有自己的API
				//alert(pwd_input.val());
				var pasw = pwd_input.val();

				//假设我的用户名和密码都是admin
				//都是从数据库中获取
				var uname = "admin";
				var pwd = "admin";

				//判断...
				if(username == uname && pasw == pwd) {
					//获取到关闭按钮的控件对象
					var btn_close = document.getElementById("btn_close");
					//手动调用该对象的单击事件
					btn_close.click();

					//显示该曾经隐藏的.
					//先获取div对象
					var books_div = document.getElementById("books");
					//显示出来...
					//通过内联的方式来修改控件的样式
					//不满足开发中的"封装性"
					//此处需要对修改之后的样式进行封装
					//books_div.style.display = "block";
					//books_div.style.backgroundColor="yellow"
					books_div.className = "books_c2";

				} else {
					alert("no")
				}
			}
		</script>
	</body>

</html>